build/
__pycache__/
*.pyc
*.so
*.dll
!mimillm/_native/mimillm_backend.dll
*.dylib
*.egg-info/
.pytest_cache/
checkpoints/*
!checkpoints/.gitkeep
logs/*
!logs/.gitkeep
dist/*
weights/
.conda/
.vscode/
.idea/
